// Grid Variables
$grid-gutter: 20px;
$grid-gutter-tight: $grid-gutter / 2;

// Mixins
@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  // Polyfill for ie8 box-sizing -> *behavior: url(/path/to/boxsizing.htc);
}

@mixin breakpoint($point) {
 
  @if $point == medium {
    @media (max-width:800px) {
      @content;
    }
  }
  @else if $point == small {
    @media (max-width:600px) {
      @content;
    }
  }
}
