//Grid Gutter
$grid-gutter: 20px;

// Grid Column 
@mixin grid-column() {
  float: left;
  padding-right: 20px;
  &:last-child {
    padding-right: 0;
    background: red;
  }
}
// Media Query Breakpoints
@mixin breakpoint($point) {
  @if $point == site {
    @media (max-width:1080px) {
      @content;
    }
  }
  @if $point == medium {
    @media (max-width:900px) {
      @content;
    }
  }
  @else if $point == nav {
    @media (max-width:800px) {
      @content;
    }
  }
  @else if $point == small {
    @media (max-width:600px) {
      @content;
    }
  }
}
@mixin grid($breakpoint, $background1, $background2) {
  .#{$breakpoint}view-hidden {
    display: none;
  }
  .#{$breakpoint}view-visible {
    display: block;
  }
  [class*='#{$breakpoint}-'] {
    @include grid-column();
    float: left; // Overrides default 'col-' behavior
    background: $background1;
    &:last-child {
      background: $background2;
    }
  }
  .#{$breakpoint}-1-4 {
    width: 25%;
  }
  .#{$breakpoint}-1-2 {
    width: 50%;
  }
  .#{$breakpoint}-1-3 {
    width: 33.33%;
  }
  .#{$breakpoint}-2-3 {
    width: 66.66%;
  }
  .#{$breakpoint}-3-4 {
    width: 75%;
  }
  .#{$breakpoint}-1-1 {
    width: 100%;
    float: none;
  }
}

//***Border-box required***\\
*, *:before, *:after {
  box-sizing: border-box;
}

.grid {
  overflow: hidden;
  margin-bottom: $grid-gutter;
}

[class*='col-']{
  @include grid-column();
  background: blue;
  // Column 
  @include breakpoint(small) {
    padding-right: 0;
    float: none;
  }
}
.grid {
  > div {
    text-align: center;
    color: white;
  }
}

// Hide medium/smallview-visible by default
.mediumview-visible, .smallview-visible {
  display: none;
}


// ***Grid Setup*** \\

/* Full View Columns */
@include grid(col, blue, red);
/* Medium View Columns */
@include breakpoint(medium) {
  @include grid(medium, green, black);
}
/* Small View Columns */
@include breakpoint(small) {
  @include grid(small, purple, tan);
}
